<div class="footer">
  <div class="logo-area twitter">
    <img class="logo" src="../assets/icon/twitter.png" />
    <a
      class="footer-link"
      href="https://twitter.com/lastagous"
      target="_blank"
    ></a>
  </div>
  <div class="logo-area note">
    <img class="logo" src="../assets/icon/note.png" />
    <a
      class="footer-link"
      href="https://note.com/lastagous"
      target="_blank"
    ></a>
  </div>
  <div class="logo-area discord">
    <img class="logo" src="../assets/icon/discord.png" />
    <a class="footer-link" href="https://t.co/uTZRlBdyvC" target="_blank"></a>
  </div>
</div>
