<p-scrollPanel [style]="{ width: '100%', height: '100%' }">
  <div class="table-title">{{ sheetName }} 軽減表</div>
  <div class="table-pane">
    <p-table
      [value]="timelineList"
      styleClass="p-datatable-gridlines p-datatable-sm"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="timeline-time">Time</th>
          <th class="timeline-action">Action</th>
          <th class="timeline-icon" *ngFor="let header of headerList">
            <img src="{{ header.imageUrl }}" />
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-timeline>
        <tr>
          <td class="timeline-time">
            {{ timeline.time }}
          </td>
          <td class="timeline-action">
            {{ timeline.action }}
          </td>
          <td class="timeline-icon" *ngFor="let check of timeline.checkList">
            <img *ngIf="check.isCheck" src="{{ check.imageUrl }}" />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-scrollPanel>
